# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env

# Data and models (managed by DVC)
/data/
/models/

# Logs and tracking
/mlruns/
/logs/

# Jupyter notebooks
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# DVC files
.dvc/cache/
.dvc/tmp/
.dvc/plots/